[client]                                                                                                          
password        = Pass                                   
user            = User                                                                                            
port            = Port                                                                                         
host            = Host                                                                                       
                                                                                                                  
[mysqladmin]                                                                                                      
password        = Pass                                    
user            = User                                                                                            
port            = Port                                                                                          
host            = Host

[mysqldump]
password        = Pass
user            = User
port            = Port
host            = Host

